// 
// _footer.scss
// 

.footer {
  bottom: 0;
  padding-left: 20px calc(#{$grid-gutter-width} / 2);
  padding-bottom: 10;
  position: absolute;
  right: 0;
  color: $footer-color;
  left: $sidebar-width;
  // height: $footer-height;
  background-color: $footer-bg;

  @media (max-width: 768px) {
    // height: $footer-lg-height;
    left: 0;
  }
}

.footer-brand-box {
  text-align: start;
  width: $navbar-brand-box-width;

  .logo-footer {
    .logo-sm {
      display: none;
    }
  }

  .logo-light {
    display: none;
  }

}

// Enlarge menu
.vertical-collpsed {
  .footer {
    left: $sidebar-collapsed-width;

    @media (max-width: 991.98px) {
      left: 0;
    }
  }
}

body[data-layout="horizontal"] {
  .footer {
    left: 0 !important;
  }
}

.footer-nav {
  .nav-link {
    border: none;
    font-size: small;

    &.active {
      border: none
    }
  }
}