.blinking-item {
  transform: translatey(0px);
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}

.btn-gradient-green {
  // background-color: $green-600;
  background-image: linear-gradient(91deg, $green-500 3%, $green-700 103%);
  color: $white;
  -webkit-transition: $transition-custom;
  -moz-transition: $transition-custom;
  -o-transition: $transition-custom;
  transition: $transition-custom;

  &:hover {
    background-image: linear-gradient(91deg, $green-600 3%, $green-800 103%);
  }
}

.btn-gradient-blue {
  background-image: linear-gradient(91deg, $blue-500 2%, $blue-700 103%);
  color: $white;
  -webkit-transition: $transition-custom;
  -moz-transition: $transition-custom;
  -o-transition: $transition-custom;
  transition: $transition-custom;

  &:hover {
    background-image: linear-gradient(91deg, $blue-600 2%, $blue-800 103%);
  }
}

.line-truncate-2 {
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  width: 100%;
}

.line-truncate-3 {
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  width: 100%;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-8 {
  font-size: 8px;
}