.featured-card-animation {
  width: 100%;
  padding-top: 60%;
  background: #fff7;
  border-radius: 0.5rem;
  border: 1px solid $primary;
  transform: translatey(0px);
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 40%;
  }
}

.featured-card {
  background-color: #fff5;
  width: 100%;
  padding-top: 60%;
  border-radius: 0.5rem;
  border: 1px solid $primary;
  position: relative;
  background-size: cover;
}

.filter-button {
  color: $white;
  border: 1.5px solid $primary;
  border-radius: 8px;
  background-color: #fff3;
  margin-right: 1.5rem;
  min-width: 20%;
  font-size: larger;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-transition: $transition-custom;
  -moz-transition: $transition-custom;
  -o-transition: $transition-custom;
  transition: $transition-custom;

  @media (max-width: 768px) {
    min-width: 23%;
    font-size: medium;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
  }

  @media (max-width: 576px) {
    min-width: 35%;
    font-size: small;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
  }

  &:hover {
    color: $white;
    background-color: #fff6;
    border: 1.5px solid $primary;
  }

  &.selected {
    background-color: $green-600;
  }
}

.filter-search-name {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #5BE944;
  border-radius: 3rem;
  border: 2px solid $primary;
  background: transparent;
}

.search-input {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  color: #5BE944;

  &:focus {
    outline: none;
    outline: none;
  }
}

.sale-card {
  background-color: #0006;
  border: 1px solid $primary;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.25rem;
  height: 100%;
  color: $white;
  -webkit-transition: $transition-custom;
  -moz-transition: $transition-custom;
  -o-transition: $transition-custom;
  transition: $transition-custom;

  &:hover {
    background-color: #666a;
  }
}