.body{
  position: relative;
  width: 192rem;
  height: 456rem;
}

.content{
   
    background-color: black;
    background: url("../images/1bg5.png");
    color: #fff;
    object-fit: cover;
    flex-direction: column;
    /* height: 4096px; */

}


input::placeholder {
  font: 10px/3 sans-serif;
  padding-left: 2px;
  color:green;
}